.cards {
    width: 45%;
}

.toolsCard {
    width: 30%;
}

@media (max-width: 768px) {
    .cards, .toolsCard {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .cards, .toolsCard {
        width: 100%;
    }
}