.mainCard {
    width: 60%;
}

.toolsCard {
    width: 40%;
}

@media (max-width: 768px) {
    .mainCard, .toolsCard {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .mainCard, .toolsCard {
        width: 90%;
    }
}